<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilos.css"/>
</head>
<body>
    <header>
        <h1>Agrega nuevas personas</h1>
    </header>
    <form method="post" action="/new">
        <div>
            <label>Nombre</label>
                <input type="text" name="name" required/>
        </div>
        <div>
            <label for="tipo">Tipo</label>
                <select id="tipo" name="type" required> 
                    <option value="admin">Admin</option>
                    <option value="manager">Manager</option>
                    <option value="user">User</option>
                </select>
        </div>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>